
/*Ciało strony */
body {
    background-color: #666666;
}
#content{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: wheat;
    border-radius: 20px ;
}

/* Nagłówek strony */

    header{
        width: 100%;
        margin-top: 1rem;
        clear: both;
        height: 10rem;
    }
    #header-logo{
        padding-top: 5px;
        float: left;
        width: 20%;
        height: 10em;
    }
    #header-name{
        float: left;
        text-align: center;
        width: 60%;
        text-align: center;
        height: 10em;
        margin-bottom: 0.2rem;
    }
    .logo{
        padding-left: 3rem;
        padding-top: 3rem;
        size: 5rem;
        height: 5rem
    }

/* Koniec nagłówska strony */

#form {
    width: 80%;
}
#wysrywy{
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    clear: both;
    padding-bottom: 40px;
}
#wprowadzanie {
    width: 100%;
    margin-left: 10%;
}
textarea{
    width: 100%;
    height: 1in;
    border-radius: 5px;
    background-color: cornsilk;

}
input[type='text']{
    background-color: cornsilk;
    height: 2rem;
    text-align: center;
    border-radius: 5px;
    border: solid 1px;

}
button{
    background-color: cornsilk;
    border: solid 1px;
    border-radius: 5px;
    height: 30px;
    width: 50px;

}
button :hover{
    background-color: bisque;
}

/* Wpis */

    #wpis{
        width: 100%;
        height: auto;
        background-color: burlywood;
        padding: 5px 5px 0px 5px;
        margin-bottom: 20px;
        border-radius: 15px 15px 10px 10px;
    }
    #wpis-nick{
        width: 20%;
        float: left;
        height: auto;
        text-align: center;

    }
    #wpis-data{
        width: 20%;
        float: right;
        height: auto;
        text-align: center;
    }
    #wpis-tresc{
        height: auto;
        clear: both;
        padding-left: 20px;
        padding-right: 20px;
    }
    hr{
        border: solid #666666 1px;
        border-radius: 0px 0px 10px 10px;
        height: 2px;
    }
/* Koniec wpisu */

/* Footer */
.github{
    padding-left: 3rem;
    height: 5rem;
    width: 5rem;
}


